/* Default Print Formatting                                     */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Site Fonts                                                   */
/* ------------------------------------------------------------ */
@import url("font.css");


html
    {
    line-height: 12pt;
    font-size: 10pt;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    }

body
    {
    color: #000000;                     /* Black  */
    background-color: #ffffff;          /* Brilliance White */
    }

h1,
h2,
h3,
h4,
h5,
h6
    {
    margin-top: 10pt;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

h1
    {
    line-height: 30pt;
    font-size: 28pt;
    }

h2
    {
    line-height: 27pt;
    font-size: 25pt;
    color: #999999;
    }

h3
    {
    line-height: 24pt;
    font-size: 22pt;
    }

h4
    {
    line-height: 21pt;
    font-size: 19pt;
    }

h5
    {
    line-height: 18pt;
    font-size: 16pt;
    }

h6
    {
    line-height: 15pt;
    font-size: 13pt;
    }

p
    {
    margin-top: 10pt;
    line-height: 12pt;
    font-size: 10pt;
    }

strong
    {
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }

em
    {
    font-family: "DinProRegularItalic", "FF DIN Pro Regular Italic", "Din Pro Regular Italic", "Din Regular Italic", "arial", "helvetica", sans-serif;
    }

strong em,
em strong
    {
    font-family: "DinProBoldItalic", "FF DIN Pro Bold Italic", "Din Pro Bold Italic", "Din Bold Italic", "arial", "helvetica", sans-serif;
    }

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

pre
    {
    font-family: "courier new", "courier", monospace;
    line-height: 12pt;
    font-size: 10pt;
    }

sup
    {
    font-size: 80%;
    vertical-align: text-top;
    color: inherit;
    }

sub
    {
    font-size: 80%;
    vertical-align: sub;
    color: inherit;
    }

img
    {
    margin: 0pt;
    padding: 0pt;
    border-width: 0pt;
    }




/* Links                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


a,
a:link
    {
    vertical-align: inherit;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }

h1 a,
h1 a:link,
h2 a,
h2 a:link,
h3 a,
h3 a:link,
h4 a,
h4 a:link,
h5 a,
h5 a:link,
h6 a,
h6 a:link
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }




/* Abbreviations                                                */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


abbr
    {
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    border-style: dotted;
    border-width: 0pt 0pt 2pt 0pt;
    }

.tooltip
    {
    color: #999999;
    }




/* Lists                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


ul
    {
    margin-left: 20pt;
    list-style-type: square;
    }

ul ul
    {
    margin-left: 30pt;
    }

ul ul ul
    {
    margin-left: 40pt;
    }

ul ul ul ul
    {
    margin-left: 50pt;
    }

ul ul ul ul ul
    {
    margin-left: 60pt;
    }

ol
    {
    margin-left: 20pt;
    list-style-type: decimal;
    }

ol ol
    {
    margin-left: 30pt;
    list-style-type: lower-alpha;
    }

ol ol ol
    {
    margin-left: 40pt;
    list-style-type: lower-roman;
    }

ol ol ol ol
    {
    margin-left: 50pt;
    list-style-type: upper-alpha;
    }

ol ol ol ol ol
    {
    margin-left: 60pt;
    list-style-type: upper-roman;
    }

li
    {
    margin-top: 6pt;
    line-height: 12pt;
    font-size: 10pt;
    }

dl
    {
    margin-left: 10pt;
    line-height: 12pt;
    font-size: 10pt;
    }

dt
    {
    line-height: 20pt;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }




/* Tables                                                       */
/* ------------------------------------------------------------
   Due to inconsistent rendering across different browsers,
   the <table> tag should be preceded by <p>&#160;</p> or
   <p class="tight">&#160;</p> in order to have a top margin.
   The problpt appears to originate with the <caption> tag.
   ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


table
    {
    margin-top: 0pt;
    margin-right: auto;
    margin-bottom: 10pt;
    margin-left: auto;
    padding: 0pt;
    line-height: 12pt;
    font-size: 10pt;
    background-color: #ffffff;          /* Brilliance White */
    }

caption
    {
    padding: 5pt;
    vertical-align: top;
    text-align: center;
    line-height: 17pt;
    font-size: 15pt;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #ffffff;                     /* Brilliance White */
    background-color: #333333;
    }

tr
    {
    text-align: left;
    vertical-align: top;
    }

th
    {
    padding: 5pt;
    text-align: left;
    vertical-align: top;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    background-color: #999999;
    border-color: #333333;
    border-style: solid;
    border-width: 0pt 0pt 1pt 0pt;
    }

th h1,
th h2,
th h3,
th h4,
th h5,
th h6
    {
    margin-top: 0pt;
    float: left;
    color: #ffffff;                     /* Brilliance White */
    }

td
    {
    padding: 5pt;
    border-color: #333333;
    border-style: solid;
    border-width: 0pt 0pt 1pt 0pt;
    }


/* Alternate Tables                                             */
/* ------------------------------------------------------------ */


table.compressed
    {
    margin-bottom: 0pt;
    }

table.compressed caption,
table.compressed th,
table.compressed td
    {
    padding: 35pt;
    font-size: 80%;
    }


/* Alternate Rows                                               */
/* ------------------------------------------------------------ */


tr.topborder th,
tr.alt_topborder th,
tr.topborder td,
tr.alt_topborder td
    {
    border-width: 1pt 0pt 1pt 0pt;
    }

tr.noborder th,
tr.alt_noborder th,
tr.noborder td,
tr.alt_noborder td
    {
    border-style: none;
    }

tr.alt th,
tr.alt_topborder th,
tr.alt_noborder th
    {
    background-color: #666666;
    }

tr.alt td,
tr.alt_topborder td,
tr.alt_noborder td
    {
    background-color: #cccccc;
    }

tfoot th,
tfoot td
    {
    border-style: none;
    font-size: 8pt;
    }


/* Alternate Cells                                              */
/* ------------------------------------------------------------ */


th.topborder,
th.topborder_center,
th.topborder_rightalign,
th.alt_topborder,
th.alt_topborder_center,
th.alt_topborder_rightalign,
td.topborder,
td.topborder_center,
td.topborder_rightalign,
td.alt_topborder,
td.alt_topborder_center,
td.alt_topborder_rightalign
    {
    border-width: 1pt 0pt 1pt 0pt;
    }


th.rightborder,
th.rightborder_center,
th.rightborder_rightalign,
th.alt_rightborder,
th.alt_rightborder_center,
th.alt_rightborder_rightalign,
td.rightborder,
td.rightborder_center,
td.rightborder_rightalign,
td.alt_rightborder,
td.alt_rightborder_center,
td.alt_rightborder_rightalign
    {
    border-width: 0pt 1pt 1pt 0pt;
    }


th.noborder,
th.noborder_center,
th.noborder_rightalign,
th.alt_noborder,
th.alt_noborder_center,
th.alt_noborder_rightalign,
td.noborder,
td.noborder_center,
td.noborder_rightalign,
td.alt_noborder,
td.alt_noborder_center,
td.alt_noborder_rightalign
    {
    border-style: none;
    }

th.center,
th.alt_center,
th.topborder_center
th.rightborder_center,
th.noborder_center,
th.alt_topborder_center,
th.alt_rightborder_center,
th.alt_noborder_center,
td.center,
td.alt_center,
td.noborder_center,
td.topborder_center,
td.rightborder_center,
td.alt_topborder_center,
td.alt_rightborder_center,
td.alt_noborder_center
    {
    text-align: center;
    }

th.rightalign,
th.alt_rightalign,
th.topborder_rightalign,
th.rightborder_rightalign,
th.noborder_rightalign,
th.alt_topborder_rightalign,
th.alt_rightborder_rightalign,
th.alt_noborder_rightalign,
td.rightalign,
td.alt_rightalign,
td.topborder_rightalign,
td.rightborder_rightalign,
td.noborder_rightalign,
td.alt_topborder_rightalign,
td.alt_rightborder_rightalign,
td.alt_noborder_rightalign
    {
    text-align: right;
    }

th.alt,
th.alt_center,
th.alt_rightalign,
th.alt_topborder,
th.alt_topborder_center,
th.alt_topborder_rightalign,
th.alt_rightborder,
th.alt_rightborder_center,
th.alt_rightborder_rightalign,
th.alt_noborder,
th.alt_noborder_center,
th.alt_noborder_rightalign
    {
    background-color: #666666;
    }

td.alt,
td.alt_center,
td.alt_rightalign,
td.alt_topborder,
td.alt_topborder_center,
td.alt_topborder_rightalign,
td.alt_rightborder,
td.alt_rightborder_center,
td.alt_rightborder_rightalign,
td.alt_noborder,
td.alt_noborder_center,
td.alt_noborder_rightalign
    {
    background-color: #cccccc;
    }


/* Selections                                                   */
/* ------------------------------------------------------------ */


th .selected,
th .unselected
    {
    text-align: center;
    padding: 2.5pt;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    border-color: #333333;
    background-color: #666666;
    color: #ffffff;                     /* Brilliance White */
    border-style: solid;
    border-width: 4pt;
    border-radius: 8pt;
    }




/* Forms                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


form
    {
    line-height: 12pt;
    font-size: 10pt;
    }

fieldset
    {
    padding: 5pt;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    background-color: #ffffff;          /* Brilliance White */
    }

fieldset.alt
    {
    background-color: #cccccc;
    }

fieldset fieldset
    {
    margin: 5pt;
    background-color: transparent;
    }

label
    {
    font-weight: inherit;
    color: inherit;
    }

input,
textarea,
select
    {
    padding: 12.5pt;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    background-color: #ffffff;          /* Brilliance White */
    border-color: #666666;
    border-style: solid;
    border-width: 1pt;
    }

input.full,
textarea
    {
    width: 100%;
    }

input.submit
    {
    padding: 25pt;
    width: 100%;
    text-align: center;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #000000;                     /* Black */
    background-color: #ffffff;          /* Brilliance White */
    border-color: #000000;              /* Black */
    border-width: 4pt;
    border-radius: 8pt;
    cursor: pointer;
    }

select option
    {
    font-size: 10pt;
    }

select optgroup
    {
    color: #333333;
    }

select optgroup option
    {
    padding-left: 20pt;
    color: #000000;                     /* Black */
    }

select option label
    {
    color: #333333;
    }

optgroup optgroup
    {
    padding-left: 20pt;
    }

optgroup option option
    {
    padding-left: 40pt;
    }




/* Alternatives to Table Formatting                             */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.section,
.section_last,
.section_noborder,
.section_alt,
.section_alt_last,
.section_alt_noborder,
.section_group,
.section_group_alt
    {
    padding: 6pt;
    }

.section,
.section_last,
.section_alt,
.section_alt_last
    {
    border-style: solid;
    border-color: #000000;              /* Black */
    }

.section_alt,
.section_alt_last,
.section_alt_noborder
    {
    background-color: #cccccc;
    }

.section,
.section_alt
    {
    border-width: 0pt 0pt 1pt 0pt;
    }

.section_last,
.section_alt_last
    {
    border-width: 1pt 0pt 1pt 0pt;
    }

.section_group,
.section_group_alt
    {
    font-size: 15pt;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #ffffff;                     /* Brilliance White */
    }

.section_group input,
.section_group_alt input
    {
    line-height: 10pt;
    font-size: 7pt;
    }

.section_group
    {
    background-color: #cccccc;
    }

.section_group_alt
    {
    background-color: #999999;
    }

.section_group h1,
.section_group_alt h1,
.section_group h2,
.section_group_alt h2,
.section_group h3,
.section_group_alt h3,
.section_group h4,
.section_group_alt h4,
.section_group h5,
.section_group_alt h5,
.section_group h6,
.section_group_alt h6
    {
    float: left;
    margin-top: 0pt;
    color: #ffffff;                     /* Brilliance White */
    }

.section .section,
.section .section_last,
.section .section_noborder,
.section .section_alt,
.section .section_alt_last,
.section .section_alt_noborder,
.section_last .section,
.section_last .section_last,
.section_last .section_noborder,
.section_last .section_alt,
.section_last .section_alt_last,
.section_last .section_alt_noborder,
.section_noborder .section,
.section_noborder .section_last,
.section_noborder .section_noborder,
.section_noborder .section_alt,
.section_noborder .section_alt_last,
.section_noborder .section_alt_noborder,
.section_alt .section,
.section_alt .section_last,
.section_alt .section_noborder,
.section_alt .section_alt,
.section_alt .section_alt_last,
.section_alt .section_alt_noborder,
.section_alt_last .section,
.section_alt_last .section_last,
.section_alt_last .section_noborder,
.section_alt_last .section_alt,
.section_alt_last .section_alt_last,
.section_alt_last .section_alt_noborder,
.section_alt_noborder .section,
.section_alt_noborder .section_last,
.section_alt_noborder .section_noborder,
.section_alt_noborder .section_alt,
.section_alt_noborder .section_alt_last,
.section_alt_noborder .section_alt_noborder
    {
    margin: 0pt 10pt 0pt 10pt;
    }

.section_group fieldset,
.section_group_alt fieldset,
.section fieldset,
.section_last fieldset,
.section_noborder fieldset,
.section_alt fieldset,
.section_alt_last fieldset,
.section_alt_noborder fieldset
    {
    margin: 0pt;
    background-color: transparent;
    }

.section_group .section_alt,
.section_group .section_alt_last,
.section_group .section_alt_noborder,
.section_group_alt .section_alt,
.section_group_alt .section_alt_last,
.section_group_alt .section_alt_noborder,
.section .section_alt,
.section .section_alt_last,
.section .section_alt_noborder,
.section_last .section_alt,
.section_last .section_alt_last,
.section_last .section_alt_noborder,
.section_noborder .section_alt,
.section_noborder .section_alt_last,
.section_noborder .section_alt_noborder
    {
    background-color: #999999;
    }

.section_radio,
.section_check
    {
    margin: 2.5pt 0pt 2.5pt 0pt;
    }

.section_staff
    {
    width: 100%;
    padding: 0pt;
    }




/* Stories, Blog Posts, and Lists                               */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.story,
.story_last,
.story_alt,
.story_alt_last
    {
    clear: both;
    padding: 5pt;
    border-color: #dddddd;
    border-style: solid;
    }

.story,
.story_alt
    {
    border-width: 1pt 0pt 0pt 0pt;
    }

.story_last,
.story_alt_last
    {
    border-width: 1pt 0pt 1pt 0pt;
    }

.story_alt,
.story_alt_last
    {
    background-color: #eeeeee;
    }

.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6,
.story_last h1,
.story_last h2,
.story_last h3,
.story_last h4,
.story_last h5,
.story_last h6,
.story_alt h1,
.story_alt h2,
.story_alt h3,
.story_alt h4,
.story_alt h5,
.story_alt h6,
.story_alt_last h1,
.story_alt_last h2,
.story_alt_last h4,
.story_alt_last h5,
.story_alt_last h6
    {
    font-size: 80%;
    }


/* Compact Lists                                                */
/* ------------------------------------------------------------ */


.story_holder
    {
    margin-top: 10pt;
    }

.story_holder h1,
.story_holder h2,
.story_holder h3,
.story_holder h4,
.story_holder h5,
.story_holder h6,
.story_holder p
    {
    margin-top: 0pt;
    }




/* Spotlights                                                   */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.spotlight_alert,
.spotlight_instructions,
.spotlight_note,
.spotlight_general
    {
    margin: 20pt 0pt 20pt 0pt;
    padding: 10pt;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #000000;                     /* Black */
    border-style: solid;
    border-width: 8pt 0pt 8pt 0pt;
    }

.spotlight_alert h1,
.spotlight_alert h2,
.spotlight_alert h3,
.spotlight_alert h4,
.spotlight_alert h5,
.spotlight_alert h6,
.spotlight_instructions h1,
.spotlight_instructions h2,
.spotlight_instructions h3,
.spotlight_instructions h4,
.spotlight_instructions h5,
.spotlight_instructions h6,
.spotlight_note h1,
.spotlight_note h2,
.spotlight_note h3,
.spotlight_note h4,
.spotlight_note h5,
.spotlight_note h6,
.spotlight_general h1,
.spotlight_general h2,
.spotlight_general h3,
.spotlight_general h4,
.spotlight_general h5,
.spotlight_general h6
    {
    color: #000000;                     /* Black */
    }

.spotlight_alert p,
.spotlight_alert a,
.spotlight_instructions p,
.spotlight_instructions a,
.spotlight_note p,
.spotlight_note a,
.spotlight_general p,
.spotlight_general a
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

form .spotlight_alert,
form .spotlight_instructions,
form .spotlight_note,
form .spotlight_general
    {
    margin: 0pt;
    padding: 6pt;
    }

.spotlight_alert,
.spotlight_instructions,
.spotlight_note,
.spotlight_general
    {
    background-color: #cccccc;
    border-color: #666666;
    }

.spotlight_alert fieldset,
.spotlight_instructions fieldset,
.spotlight_note fieldset,
.spotlight_general fieldset
    {
    margin: 0pt;
    background-color: transparent;
    }




/* Image Containers                                             */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Captioned Images                                             */
/* ------------------------------------------------------------ */


.caption_box_center,
.caption_box_left,
.caption_box_right
    {
    width: 100%;
    padding: 3pt 0pt 3pt 0pt;
    margin-top: 10pt;
    margin-right: auto;
    margin-bottom: 3pt;
    margin-left: auto;
    }

.caption_box_center img,
.caption_box_left img,
.caption_box_right img
    {
    max-width: 100%;
    height: auto;
    margin-top: 0pt;
    margin-right: auto;
    margin-bottom: 0pt;
    margin-left: auto;
    padding: 0pt;
    border-width: 0pt;
    }

.caption_box_center p,
.caption_box_left p,
.caption_box_right p
    {
    margin: 3pt 3pt 0pt 3pt;
    font-size: 80%;
    }

.section .caption_box_center,
.section .caption_box_left,
.section .caption_box_right,
.section_last .caption_box_center,
.section_last .caption_box_left,
.section_last .caption_box_right,
.section_noborder .caption_box_center,
.section_noborder .caption_box_left,
.section_noborder .caption_box_right,
.story .caption_box_center,
.story .caption_box_left,
.story .caption_box_right,
.story_last .caption_box_center,
.story_last .caption_box_left,
.story_last .caption_box_right
    {
    background-color: #dddddd;
    }

.section_alt .caption_box_center,
.section_alt .caption_box_left,
.section_alt .caption_box_right,
.section_alt_last .caption_box_center,
.section_alt_last .caption_box_left,
.section_alt_last .caption_box_right,
.section_alt_noborder .caption_box_center,
.section_alt_noborder .caption_box_left,
.section_alt_noborder .caption_box_right,
.story_alt .caption_box_center,
.story_alt .caption_box_left,
.story_alt .caption_box_right,
.story_alt_last .caption_box_center,
.story_alt_last .caption_box_left,
.story_alt_last .caption_box_right
    {
    background-color: #ffffff;          /* Brilliance White */
    }


/* Masthead Images and Image Carousels                          */
/* ------------------------------------------------------------ */


#carousel_hold,
#carousel,
#carousel_link,
#carousel_image,
#carousel_navigation
    {
    display: none;
    }




/* Variations                                                   */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.center
    {
    text-align: center;
    }

.left
    {
    float: left;
    }

img.left
    {
    margin: 10pt 6pt 8pt 0pt;
    max-width: 100%;
    height: auto;
    }

.right
    {
    float: right;
    }

img.right
    {
    margin: 10pt 0pt 8pt 0.6pt;
    max-width: 100%;
    height: auto;
    }

.rightalign
    {
    text-align: right;
    }

.tight
    {
    margin-top: 0pt;
    }

.centertight
    {
    margin-top: 0pt;
    text-align: center;
    }

.full
    {
    width: 100%;
    }

.fade
    {
    color: #dddddd;
    }

.hidden
    {
    display: none;
    }

.break
    {
    clear: both;
    }




/* Sections                                                     */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Header - Top Links                                           */
/* ------------------------------------------------------------ */

#header_toplinks_hold,
#header_toplinks
    {
    display: none;
    }


/* Header - Primary                                             */
/* ------------------------------------------------------------ */

#header_hold
    {
    clear: both;
    padding: 20pt;
    width: 100%;
    color: #000000;                     /* Black */
    background-color: #ffffff;          /* Brilliance White */
    }

#header
    {
    width: 100%;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

#header a
    {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    }

#header_logo
    {
    display: none;
    }

#header_title_utd,
#header_title_office,
#header_title_dept
    {
    font-size: 20.0pt;
    }

#header_title_office
    {
    color: #999999;
    }


/* Header - Bottom Links                                        */
/* ------------------------------------------------------------ */

#header_bottomlinks_hold,
#header_bottomlinks,
#header_bottomlinks_search_only
    {
    display: none;
    }


/* Header - Hidden Custom Pull-Down Menu                        */
/* ------------------------------------------------------------ */

#header_menu
    {
    display: none;
    }


/* Main                                                         */
/* ------------------------------------------------------------ */

#main_hold
    {
    clear: both;
    padding: 10pt;
    background-color: #ffffff;          /* Brilliance White */
    background-image: url("../img/gradient_white.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#main_hold a:after,
#main_hold a:link:after
    {
    content: " [" attr(href) "] ";
    }

#sidebar
    {
    padding: 10pt 0pt 0pt 0pt;
    margin: 10pt 0pt 0pt 0pt;
    background-image: url("../img/border_horizontal.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#multicolumn_double,
#multicolumn_triple
    {
    margin: 10pt 0pt 0pt 0pt;
    }

#column_two,
#column_three,
.column_right
    {
    padding: 10pt 0pt 0pt 0pt;
    margin: 10pt 0pt 0pt 0pt;
    background-image: url("../img/border_horizontal.png");
    background-repeat: repeat-x;
    background-position: top center;
    }


/* Expanding and Collapsing Sections                            */
/* ------------------------------------------------------------ */

.accordion_one_heading
    {
    margin: 5pt 0pt 0pt 0pt;
    padding: 5pt;
    color: #ffffff;                     /* Brilliance White */
    background-color: #8b8178;          /* Warm Gray 8 */
    border-color: #ffffff;              /* Brilliance White */
    border-style: solid;
    border-width: 1pt;
    border-radius: 8pt;
    }

.accordion_one_heading_active
    {
    margin: 0pt;
    padding: 0pt;
    }

.accordion_one_section
    {
    padding: 0.5pt;
    }

.accordion_two_hold,
.accordion_two_hold_plus,
.accordion_two_hold_minus,
.accordion_three_hold,
.accordion_three_hold_plus,
.accordion_three_hold_minus
    {
    padding: 0pt 0pt 10pt 0pt;
    background-repeat: no-repeat;
    background-position: top right;
    border-color: #eae8e4;              /* 50% of Warm Gray 2 */
    border-style: solid;
    border-width: 0pt 0pt 4pt 0pt;
    }

.accordion_two_hold,
.accordion_two_hold_plus,
.accordion_two_hold_minus
    {
    margin: 0pt 20pt 5pt 20pt;
    }

p.accordion_one_heading,
p.accordion_two_heading,
p.accordion_three_heading
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

p.accordion_two_heading,
p.accordion_three_heading
    {
    color: #766a62;                     /* Warm Gray 10 */
    }

.accordion_one_hidden,
.accordion_two_hidden,
.accordion_three_hidden,
.accordion_one_link_minus,
.accordion_one_link_plus,
.accordion_two_link_minus,
.accordion_two_link_plus,
.accordion_three_link_plus,
.accordion_three_link_minus
    {
    display: block;
    }

.accordion_one_link_minus,
.accordion_one_link_minus:link,
.accordion_one_link_minus:visited,
.accordion_one_link_minus:active,
.accordion_one_link_minus:hover,
.accordion_one_link_minus:focus,
.accordion_one_link_plus,
.accordion_one_link_plus:link,
.accordion_one_link_plus:visited,
.accordion_one_link_plus:active,
.accordion_one_link_plus:hover,
.accordion_one_link_plus:focus
    {
    margin: 0pt;
    padding: 5pt;
    color: #ffffff;                     /* Brilliance White */
    background-color: #8b8178;          /* Warm Gray 8 */
    border-color: #ffffff;              /* Brilliance White */
    border-style: solid;
    border-width: 2pt;
    border-radius: 8pt;
    }


/* Tiles                                                        */
/* ------------------------------------------------------------ */

.tile_set
    {
    margin-top: 5pt;
    margin-right: auto;
    margin-bottom: 5pt;
    margin-left: auto;
    width: 95.0pt;
    }

.tile
    {
    float: left;
    margin: 2.5pt;
    height: 90pt;
    width: 90pt;
    }

.tile img.tile_art
    {
    height: 100%;
    width: 100%;
    }

.tile p.tile_text
    {
    display: none;
    }

.tile:active,
.tile:hover,
.tile:focus
    {
    cursor: pointer;
    }

.tile:active img.tile_art,
.tile:hover img.tile_art,
.tile:focus img.tile_art
    {
    display: none;
    }

.tile:active p.tile_text,
.tile:hover p.tile_text,
.tile:focus p.tile_text
    {
    display: block;
    margin: 2.5pt;
    }




/* Footer                                                       */
/* ------------------------------------------------------------ */

#footer
    {
    clear: both;
    padding: 10pt;
    background-image: url("../img/gradient_white.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#footer_title
    {
    clear: both;
    margin-top: 10.0pt;
    font-size: 20.0pt;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    text-align: center;
    }

#menu
    {
    display: none;
    }

