/* Default Screen Formatting                                    */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */




/* Site Colors                                                  */
/* ------------------------------------------------------------

   UTD Primary Colors
   #c75b12    Flame Orange
   #008542    Eco Green
   #ffffff    Brilliance White

   UTD Secondary Colors
   #e98300    Solar Orange
   #ffb612    Spark Orange
   #69be28    Sapling Green
   #c9dd03    Seedling Green
   #0039a6    Space Blue
   #00a1de    Stratos Blue
   #5bc6e8    Sky Blue

   UTD Neutrals
   #000000    Black
   #766a62    Warm Gray 10
   #8b8178    Warm Gray 8
   #a59d95    Warm Gray 6
   #b7b1a9    Warm Gray 4  -- Reserve for fades and borders
   #d5d2ca    Warm Gray 2

   "Extended" UTD Neutrals
   #3b3735    Warm Gray 14
   #59514d    Warm Gray 12

   "200%" and "150%" Tints
   #9b2001    "200%" of Flame Orange
   #b13e0a    "150%" of Flame Orange
   #df6300    "150%" of Solar Orange
   #ff9c0a    "150%" of Spark Orange
   #00652a    "150%" of Eco Green
   #4aa518    "150%" of Sapling Green
   #b4c302    "150%" of Seedling Green
   #002389    "150%" of Space Blue
   #0083cf    "150%" of Stratos Blue
   #3eafdd    "150%" of Sky Blue

   50% Tints
   #e3ad89    50% of Flame Orange
   #f4c17f    50% of Solar Orange
   #ffda89    50% of Spark Orange
   #7fc2a1    50% of Eco Green
   #b4de94    50% of Sapling Green
   #e4ee81    50% of Seedling Green
   #7f9cd2    50% of Space Blue
   #7fd0ee    50% of Stratos Blue
   #ade2f3    50% of Sky Blue
   #eae8e4    50% of Warm Gray 2

   25% Tints
   #f1d6c4    25% of Flame Orange
   #f9e0bf    25% of Solar Orange
   #ffedc4    25% of Spark Orange
   #bfe0d0    25% of Eco Green
   #d9efc9    25% of Sapling Green
   #f1f6c0    25% of Seedling Green
   #bfcde9    25% of Space Blue
   #bfe7f7    25% of Stratos Blue
   #d6f1f9    25% of Sky Blue
   #f4f4f2    25% of Warm Gray 2

   ------------------------------------------------------------ */


/* Site Fonts                                                   */
/* ------------------------------------------------------------ */
@import url("font.css");


html
    {
    line-height: 1.2em;
    font-size: 1.0em;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    }

body
    {
    color: #a59d95;                     /* Warm Gray 6  */
    background-color: #766a62;          /* Warm Gray 10 */
    }

h1,
h2,
h3,
h4,
h5,
h6
    {
    line-height: 1.0em;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #766a62;                     /* Warm Gray 10 */
    }

h1
    {
    margin-top: 0.5em;
    font-size: 2.8em;
    }

h2
    {
    margin-top: 0.0em;
    font-size: 2.5em;
    color: #b7b1a9;                     /* Warm Gray 4 */
    }

h3
    {
    margin-top: 1.0em;
    font-size: 2.2em;
    }

h4
    {
    margin-top: 1.0em;
    font-size: 1.9em;
    }

h5
    {
    margin-top: 1.0em;
    font-size: 1.6em;
    }

h6
    {
    margin-top: 1.0em;
    font-size: 1.3em;
    }

p
    {
    margin-top: 1.0em;
    line-height: 1.2em;
    font-size: 1.0em;
    }

strong
    {
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }

em
    {
    font-family: "DinProRegularItalic", "FF DIN Pro Regular Italic", "Din Pro Regular Italic", "Din Regular Italic", "arial", "helvetica", sans-serif;
    }

strong em,
em strong
    {
    font-family: "DinProBoldItalic", "FF DIN Pro Bold Italic", "Din Pro Bold Italic", "Din Bold Italic", "arial", "helvetica", sans-serif;
    }

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

pre
    {
    font-family: "courier new", "courier", monospace;
    margin-top: 1.0em;
    line-height: 1.2em;
    font-size: 1.0em;
    }

sup
    {
    font-size: 80%;
    vertical-align: text-top;
    color: inherit;
    }

sub
    {
    font-size: 80%;
    vertical-align: sub;
    color: inherit;
    }

img
    {
    margin: 0em;
    padding: 0em;
    border-width: 0em;
    }




/* Links                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


a,
a:link,
a:visited
    {
    vertical-align: inherit;
    text-decoration: none;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #c75b12;                     /* Flame Orange */
    }

a:active,
a:hover,
a:focus
    {
    text-decoration: underline;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #008542;                     /* Eco Green */
    }

h1 a,
h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:hover,
h1 a:focus,
h2 a,
h2 a:link,
h2 a:visited,
h2 a:active,
h2 a:hover,
h2 a:focus,
h3 a,
h3 a:link,
h3 a:visited,
h3 a:active,
h3 a:hover,
h3 a:focus,
h4 a,
h4 a:link,
h4 a:visited,
h4 a:active,
h4 a:hover,
h4 a:focus,
h5 a,
h5 a:link,
h5 a:visited,
h5 a:active,
h5 a:hover,
h5 a:focus,
h6 a,
h6 a:link,
h6 a:visited,
h6 a:active,
h6 a:hover,
h6 a:focus
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }




/* Abbreviations                                                */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


abbr,
abbr:visited
    {
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    border-color: #c75b12;              /* Flame Orange */
    border-style: dotted;
    border-width: 0px 0px 2px 0px;
    }

abbr:active,
abbr:hover,
abbr:focus
    {
    color: #008542;                     /* Eco Green */
    border-color: #008542;              /* Eco Green */
    cursor: help;
    }

abbr .tooltip
    {
    z-index: 10;
    display: none;
    }

abbr:active .tooltip,
abbr:hover .tooltip,
abbr:focus .tooltip
    {
    display: block;
    position: absolute;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    width: 85%;
    padding: 0.5em;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    line-height: 1.2em;
    font-size: 1.0em;
    color: #00652a;                     /* "150%" of Eco Green */
    background-color: #b4de94;          /* 50% of Sapling Green */
    }




/* Lists                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


ul
    {
    margin-left: 2.0em;
    list-style-type: square;
    }

ul ul
    {
    margin-left: 3.0em;
    }

ul ul ul
    {
    margin-left: 4.0em;
    }

ul ul ul ul
    {
    margin-left: 5.0em;
    }

ul ul ul ul ul
    {
    margin-left: 6.0em;
    }

ol
    {
    margin-left: 2.0em;
    list-style-type: decimal;
    }

ol ol
    {
    margin-left: 3.0em;
    list-style-type: lower-alpha;
    }

ol ol ol
    {
    margin-left: 4.0em;
    list-style-type: lower-roman;
    }

ol ol ol ol
    {
    margin-left: 5.0em;
    list-style-type: upper-alpha;
    }

ol ol ol ol ol
    {
    margin-left: 6.0em;
    list-style-type: upper-roman;
    }

li
    {
    margin-top: 0.6em;
    line-height: 1.2em;
    font-size: 1.0em;
    }

dl
    {
    margin-left: 1.0em;
    line-height: 1.2em;
    font-size: 1.0em;
    }

dt
    {
    line-height: 2.0em;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }

dd
    {
    line-height: 1.0em;
    }




/* Tables                                                       */
/* ------------------------------------------------------------
   Due to inconsistent rendering across different browsers,
   the <table> tag should be preceded by <p>&#160;</p> or
   <p class="tight">&#160;</p> in order to have a top margin.
   The problem appears to originate with the <caption> tag.
   ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


table
    {
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 1.0em;
    margin-left: auto;
    padding: 0em;
    line-height: 1.2em;
    font-size: 1.0em;
    background-color: #ffffff;          /* Brilliance White */
    }

caption
    {
    padding: 0.5em;
    vertical-align: top;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.5em;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #ffffff;                     /* Brilliance White */
    background-color: #766a62;          /* Warm Gray 10 */
    }

tr
    {
    text-align: left;
    vertical-align: top;
    }

th
    {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    background-color: #a59d95;          /* Warm Gray 6 */
    border-color: #766a62;              /* Warm Gray 10 */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    }

th h1,
th h2,
th h3,
th h4,
th h5,
th h6
    {
    margin-top: 0em;
    float: left;
    }

td
    {
    padding: 0.5em;
    border-color: #766a62;              /* Warm Gray 10 */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    }


/* Alternate Tables                                             */
/* ------------------------------------------------------------ */


table.compressed
    {
    margin-bottom: 0em;
    }

table.compressed caption,
table.compressed th,
table.compressed td
    {
    padding: 0.35em;
    font-size: 80%;
    }


/* Alternate Rows                                               */
/* ------------------------------------------------------------ */


tr.topborder th,
tr.alt_topborder th,
tr.topborder td,
tr.alt_topborder td
    {
    border-width: 1px 0px 1px 0px;
    }

tr.noborder th,
tr.alt_noborder th,
tr.noborder td,
tr.alt_noborder td
    {
    border-style: none;
    }

tr.alt th,
tr.alt_topborder th,
tr.alt_noborder th
    {
    background-color: #8b8178;          /* Warm Gray 8 */
    }

tr.alt td,
tr.alt_topborder td,
tr.alt_noborder td
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

tfoot th,
tfoot td
    {
    border-style: none;
    font-size: 0.8em;
    }


/* Alternate Cells                                              */
/* ------------------------------------------------------------ */


th.topborder,
th.topborder_center,
th.topborder_rightalign,
th.alt_topborder,
th.alt_topborder_center,
th.alt_topborder_rightalign,
td.topborder,
td.topborder_center,
td.topborder_rightalign,
td.alt_topborder,
td.alt_topborder_center,
td.alt_topborder_rightalign
    {
    border-width: 1px 0px 1px 0px;
    }


th.rightborder,
th.rightborder_center,
th.rightborder_rightalign,
th.alt_rightborder,
th.alt_rightborder_center,
th.alt_rightborder_rightalign,
td.rightborder,
td.rightborder_center,
td.rightborder_rightalign,
td.alt_rightborder,
td.alt_rightborder_center,
td.alt_rightborder_rightalign
    {
    border-width: 0px 1px 1px 0px;
    }


th.noborder,
th.noborder_center,
th.noborder_rightalign,
th.alt_noborder,
th.alt_noborder_center,
th.alt_noborder_rightalign,
td.noborder,
td.noborder_center,
td.noborder_rightalign,
td.alt_noborder,
td.alt_noborder_center,
td.alt_noborder_rightalign
    {
    border-style: none;
    }

th.center,
th.alt_center,
th.topborder_center
th.rightborder_center,
th.noborder_center,
th.alt_topborder_center,
th.alt_rightborder_center,
th.alt_noborder_center,
td.center,
td.alt_center,
td.noborder_center,
td.topborder_center,
td.rightborder_center,
td.alt_topborder_center,
td.alt_rightborder_center,
td.alt_noborder_center
    {
    text-align: center;
    }

th.rightalign,
th.alt_rightalign,
th.topborder_rightalign,
th.rightborder_rightalign,
th.noborder_rightalign,
th.alt_topborder_rightalign,
th.alt_rightborder_rightalign,
th.alt_noborder_rightalign,
td.rightalign,
td.alt_rightalign,
td.topborder_rightalign,
td.rightborder_rightalign,
td.noborder_rightalign,
td.alt_topborder_rightalign,
td.alt_rightborder_rightalign,
td.alt_noborder_rightalign
    {
    text-align: right;
    }

th.alt,
th.alt_center,
th.alt_rightalign,
th.alt_topborder,
th.alt_topborder_center,
th.alt_topborder_rightalign,
th.alt_rightborder,
th.alt_rightborder_center,
th.alt_rightborder_rightalign,
th.alt_noborder,
th.alt_noborder_center,
th.alt_noborder_rightalign
    {
    background-color: #8b8178;          /* Warm Gray 8 */
    }

td.alt,
td.alt_center,
td.alt_rightalign,
td.alt_topborder,
td.alt_topborder_center,
td.alt_topborder_rightalign,
td.alt_rightborder,
td.alt_rightborder_center,
td.alt_rightborder_rightalign,
td.alt_noborder,
td.alt_noborder_center,
td.alt_noborder_rightalign
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }


/* Selections                                                   */
/* ------------------------------------------------------------ */


th .selected,
th .unselected
    {
    text-align: center;
    padding: 0.25em;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    }

th .selected
    {
    background-color: #008542;          /* Eco Green */
    border-color: #69be28;              /* Sapling Green */
    }

th .unselected
    {
    background-color: transparent;
    border-color: #b7b1a9;              /* Warm Gray 4 */
    }




/* Forms                                                        */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


form
    {
    line-height: 1.2em;
    font-size: 1.0em;
    }

fieldset
    {
    padding: 0.5em;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    background-color: #ffffff;          /* Brilliance White */
    }

fieldset.alt
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

fieldset fieldset
    {
    margin: 0.5em;
    background-color: transparent;
    }

label
    {
    font-weight: inherit;
    color: inherit;
    }

input,
textarea,
select
    {
    padding: 0.125em;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    background-color: #d6f1f9;          /* 25% of Sky Blue */
    border-color: #5bc6e8;              /* Sky Blue */
    border-style: solid;
    border-width: 1px;
    }

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus,
select:active,
select:hover,
select:focus
    {
    border-color: #c75b12;              /* Flame Orange */
    }

input.full,
textarea
    {
    width: 100%;
    }

input.submit
    {
    padding: 0.25em;
    width: 100%;
    text-align: center;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    background-color: #c75b12;          /* Flame Orange */
    border-color: #e98300;              /* Solar Orange */
    border-width: 4px;
    border-radius: 8px;
    cursor: pointer;
    }

input.submit:active,
input.submit:hover,
input.submit:focus
    {
    background-color: #008542;          /* Eco Green */
    border-color: #69be28;              /* Sapling Green */
    }

select option
    {
    font-size: 1.0em;
    }

select optgroup
    {
    color: #5bc6e8;                     /* Sky Blue */
    }

select optgroup option
    {
    padding-left: 2.0em;
    color: #000000;                     /* Black */
    }

select option label
    {
    color: #5bc6e8;                     /* Sky Blue */
    }

optgroup optgroup
    {
    padding-left: 2.0em;
    }

optgroup option option
    {
    padding-left: 4.0em;
    }




/* Alternatives to Table Formatting                             */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.section,
.section_last,
.section_noborder,
.section_alt,
.section_alt_last,
.section_alt_noborder,
.section_group,
.section_group_alt
    {
    padding: 0.6em;
    }

.section,
.section_last,
.section_alt,
.section_alt_last
    {
    border-style: solid;
    border-color: #b7b1a9;              /* Warm Gray 4 */
    }

.section_alt,
.section_alt_last,
.section_alt_noborder
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

.section,
.section_alt
    {
    border-width: 0px 0px 1px 0px;
    }

.section_last,
.section_alt_last
    {
    border-width: 1px 0px 1px 0px;
    }

.section_group,
.section_group_alt
    {
    font-size: 1.5em;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #ffffff;                     /* Brilliance White */
    }

.section_group input,
.section_group_alt input
    {
    line-height: 1.0em;
    font-size: 0.70em;
    }

.section_group
    {
    background-color: #a59d95;          /* Warm Gray 6 */
    }

.section_group_alt
    {
    background-color: #8b8178;          /* Warm Gray 8 */
    }

.section_group h1,
.section_group_alt h1,
.section_group h2,
.section_group_alt h2,
.section_group h3,
.section_group_alt h3,
.section_group h4,
.section_group_alt h4,
.section_group h5,
.section_group_alt h5,
.section_group h6,
.section_group_alt h6
    {
    float: left;
    margin-top: 0em;
    color: #ffffff;                     /* Brilliance White */
    }

.section .section,
.section .section_last,
.section .section_noborder,
.section .section_alt,
.section .section_alt_last,
.section .section_alt_noborder,
.section_last .section,
.section_last .section_last,
.section_last .section_noborder,
.section_last .section_alt,
.section_last .section_alt_last,
.section_last .section_alt_noborder,
.section_noborder .section,
.section_noborder .section_last,
.section_noborder .section_noborder,
.section_noborder .section_alt,
.section_noborder .section_alt_last,
.section_noborder .section_alt_noborder,
.section_alt .section,
.section_alt .section_last,
.section_alt .section_noborder,
.section_alt .section_alt,
.section_alt .section_alt_last,
.section_alt .section_alt_noborder,
.section_alt_last .section,
.section_alt_last .section_last,
.section_alt_last .section_noborder,
.section_alt_last .section_alt,
.section_alt_last .section_alt_last,
.section_alt_last .section_alt_noborder,
.section_alt_noborder .section,
.section_alt_noborder .section_last,
.section_alt_noborder .section_noborder,
.section_alt_noborder .section_alt,
.section_alt_noborder .section_alt_last,
.section_alt_noborder .section_alt_noborder
    {
    margin: 0em 1.0em 0em 1.0em;
    }

.section_group fieldset,
.section_group_alt fieldset,
.section fieldset,
.section_last fieldset,
.section_noborder fieldset,
.section_alt fieldset,
.section_alt_last fieldset,
.section_alt_noborder fieldset
    {
    margin: 0em;
    background-color: transparent;
    }

.section_group .section_alt,
.section_group .section_alt_last,
.section_group .section_alt_noborder,
.section_group_alt .section_alt,
.section_group_alt .section_alt_last,
.section_group_alt .section_alt_noborder,
.section .section_alt,
.section .section_alt_last,
.section .section_alt_noborder,
.section_last .section_alt,
.section_last .section_alt_last,
.section_last .section_alt_noborder,
.section_noborder .section_alt,
.section_noborder .section_alt_last,
.section_noborder .section_alt_noborder
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

.section_radio,
.section_check
    {
    margin: 0.25em 0em 0.25em 0em;
    }

.section_staff
    {
    width: 100%;
    padding: 0em;
    }




/* Stories, Blog Posts, and Lists                               */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.story,
.story_last,
.story_alt,
.story_alt_last
    {
    clear: both;
    padding: 0.5em;
    border-color: #b7b1a9;              /* Warm Gray 4 */
    border-style: solid;
    }

.story,
.story_alt
    {
    border-width: 1px 0px 0px 0px;
    }

.story_last,
.story_alt_last
    {
    border-width: 1px 0px 1px 0px;
    }

.story_alt,
.story_alt_last
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

.story h1,
.story_last h1,
.story_alt h1,
.story_alt_last h1
    {
    font-size: 2.5em;
    }

.story h2,
.story_last h2,
.story_alt h2,
.story_alt_last h2
    {
    font-size: 2.2em;
    }

.story h3,
.story_last h3,
.story_alt h3,
.story_alt_last h3
    {
    font-size: 1.9em;
    }

.story h4,
.story_last h4,
.story_alt h4,
.story_alt_last h4
    {
    font-size: 1.6em;
    }

.story h5,
.story_last h5,
.story_alt h5,
.story_alt_last h5
    {
    font-size: 1.3em;
    }

.story h6,
.story_last h6,
.story_alt h6,
.story_alt_last h6
    {
    font-size: 1.0em;
    }


/* Compact Lists                                                */
/* ------------------------------------------------------------ */


.story_holder
    {
    margin-top: 1.0em;
    }

.story_holder h1,
.story_holder h2,
.story_holder h3,
.story_holder h4,
.story_holder h5,
.story_holder h6,
.story_holder p
    {
    margin-top: 0em;
    }




/* Spotlights                                                   */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.spotlight_alert,
.spotlight_instructions,
.spotlight_note,
.spotlight_general
    {
    margin: 2.0em 0em 2.0em 0em;
    padding: 1.0em;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    color: #3b3735;                     /* Warm Gray 14 */
    border-style: solid;
    border-width: 8px 0px 8px 0px;
    }

.spotlight_alert h1,
.spotlight_alert h2,
.spotlight_alert h3,
.spotlight_alert h4,
.spotlight_alert h5,
.spotlight_alert h6,
.spotlight_instructions h1,
.spotlight_instructions h2,
.spotlight_instructions h3,
.spotlight_instructions h4,
.spotlight_instructions h5,
.spotlight_instructions h6,
.spotlight_note h1,
.spotlight_note h2,
.spotlight_note h3,
.spotlight_note h4,
.spotlight_note h5,
.spotlight_note h6,
.spotlight_general h1,
.spotlight_general h2,
.spotlight_general h3,
.spotlight_general h4,
.spotlight_general h5,
.spotlight_general h6
    {
    color: #3b3735;                     /* Warm Gray 14 */
    }

.spotlight_alert p,
.spotlight_alert a,
.spotlight_instructions p,
.spotlight_instructions a,
.spotlight_note p,
.spotlight_note a,
.spotlight_general p,
.spotlight_general a
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

form .spotlight_alert,
form .spotlight_instructions,
form .spotlight_note,
form .spotlight_general
    {
    margin: 0em;
    padding: 0.6em;
    }

.spotlight_alert
    {
    background-color: #ffedc4;          /* 25% of Spark Orange */
    border-color: #ffb612;              /* Spark Orange */
    }

.spotlight_instructions
    {
    background-color: #f1f6c0;          /* 25% of Seedling Green */
    border-color: #c9dd03;              /* Seedling Green */
    }

.spotlight_note
    {
    background-color: #d6f1f9;          /* 25% of Sky Blue */
    border-color: #5bc6e8;              /* Sky Blue */
    }

.spotlight_general
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    border-color: #d5d2ca;              /* Warm Gray 2 */
    }

.spotlight_alert fieldset,
.spotlight_instructions fieldset,
.spotlight_note fieldset,
.spotlight_general fieldset
    {
    margin: 0em;
    background-color: transparent;
    }




/* Image Containers                                             */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Captioned Images                                             */
/* ------------------------------------------------------------ */


.caption_box_center,
.caption_box_left,
.caption_box_right
    {
    width: 100%;
    padding: 0.3em 0em 0.3em 0em;
    margin-top: 1.0em;
    margin-right: auto;
    margin-bottom: 0.3em;
    margin-left: auto;
    }

.caption_box_center img,
.caption_box_left img,
.caption_box_right img
    {
    max-width: 100%;
    height: auto;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    padding: 0em;
    border-width: 0em;
    }

.caption_box_center p,
.caption_box_left p,
.caption_box_right p
    {
    margin: 0.3em 0.3em 0em 0.3em;
    font-size: 80%;
    }

.section .caption_box_center,
.section .caption_box_left,
.section .caption_box_right,
.section_last .caption_box_center,
.section_last .caption_box_left,
.section_last .caption_box_right,
.section_noborder .caption_box_center,
.section_noborder .caption_box_left,
.section_noborder .caption_box_right,
.story .caption_box_center,
.story .caption_box_left,
.story .caption_box_right,
.story_last .caption_box_center,
.story_last .caption_box_left,
.story_last .caption_box_right
    {
    background-color: #f4f4f2;          /* 25% of Warm Gray 2 */
    }

.section_alt .caption_box_center,
.section_alt .caption_box_left,
.section_alt .caption_box_right,
.section_alt_last .caption_box_center,
.section_alt_last .caption_box_left,
.section_alt_last .caption_box_right,
.section_alt_noborder .caption_box_center,
.section_alt_noborder .caption_box_left,
.section_alt_noborder .caption_box_right,
.story_alt .caption_box_center,
.story_alt .caption_box_left,
.story_alt .caption_box_right,
.story_alt_last .caption_box_center,
.story_alt_last .caption_box_left,
.story_alt_last .caption_box_right
    {
    background-color: #ffffff;          /* Brilliance White */
    }


/* Masthead Images and Image Carousels                          */
/* ------------------------------------------------------------ */


#carousel_hold,
#carousel,
#carousel_link,
#carousel_image
    {
    display: block;
    }

#carousel_hold
    {
    clear: both;
    overflow: hidden;
    background-color: #3b3735;          /* Warm Gray 14 */
    }

#carousel_hold.with_navigation
    {
    margin-bottom: -1.0em;
    }

#carousel
    {
    width: 100%;
    }

#carousel_image
    {
    max-width: 100%;
    height: auto;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    }

#carousel_navigation
    {
    position: relative;
    height: 1.0em;
    bottom: 1.0em;
    }

#carousel_navigation li
    {
    float: left;
    margin: 0em;
    width: 1.0em;
    line-height: 1.0em;
    text-align: center;
    overflow: hidden;
    background-image: url("../img/carousel_button_up.png");
    background-repeat: no-repeat;
    background-position: center center;
    }

#carousel_navigation li:active,
#carousel_navigation li:hover,
#carousel_navigation li:focus
    {
    background-image: url("../img/carousel_button_over.png");
    }

#carousel_navigation li img
    {
    max-width: 100%;
    height: auto;
    }




/* Variations                                                   */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


.center
    {
    text-align: center;
    }

.left
    {
    float: left;
    }

img.left
    {
    margin: 1.0em 0.6em 0.8em 0em;
    max-width: 100%;
    height: auto;
    }

.right
    {
    float: right;
    }

img.right
    {
    margin: 1.0em 0em 0.8em 0.6em;
    max-width: 100%;
    height: auto;
    }

.rightalign
    {
    text-align: right;
    }

.tight
    {
    margin-top: 0em;
    }

.centertight
    {
    margin-top: 0em;
    text-align: center;
    }

.full
    {
    width: 100%;
    }

.fade
    {
    color: #b7b1a9;                     /* Warm Gray 4 */
    }

.hidden
    {
    display: none;
    }

.break
    {
    clear: both;
    }

.email_ribbon
    {
    width: 100%;
    color: #ffffff;                     /* Brilliance White */
    background-color: #c75b12;          /* Flame Orange */
    }

.email_ribbon p,
.email_ribbon p.tight
    {
    text-align: center;
    line-height: 1.0em;
    font-size: 1.0em;
    }

.email_ribbon img
    {
    max-width: 100%;
    height: auto;
    }




/* Sections                                                     */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Header - Top Links                                           */
/* ------------------------------------------------------------ */

#header_toplinks_hold
    {
    clear: both;
    width: 100%;
    padding: 0.45em 0em 0.25em 0em;
    color: #3b3735;                     /* Warm Gray 14 */
    background-color: #766a62;          /* Warm Gray 10 */
    background-image: url("../img/gradient_grey.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#header_toplinks
    {
    width: 26.0em;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    line-height: 1.0em;
    font-size: 0.65em;
    text-align: center;
    }

#header_toplinks a
    {
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    }

#header_toplinks_skip
    {
    text-decoration: none;
    }


/* Header - Primary                                             */
/* ------------------------------------------------------------ */

#header_hold
    {
    clear: both;
    width: 100%;
    color: #ffffff;                     /* Brilliance White */
    background-color: #c75b12;          /* Flame Orange */
    background-image: url("../img/gradient_orange.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#header
    {
    width: 20.0em;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

#header a
    {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    }

#header_logo
    {
    float: left;
    width: 30%;
    }

#header_logo img
    {
    width: 100%;
    height: auto;
    }

#header_title_three_line,
#header_title_two_line
    {
    float: right;
    width: 70%;
    }


#header_title_utd
    {
    font-size: 0.6667em;
    color: #ffffff;                     /* Brilliance White */
    }

#header_title_three_line #header_title_utd
    {
    margin-top: 1.45em;
    }

#header_title_two_line #header_title_utd
    {
    margin-top: 2.125em;
    }


#header_title_office
    {
    margin-top: 0em;
    font-size: 0.75em;
    color: #3b3735;                     /* Warm Gray 14 */
    }

#header_title_dept
    {
    margin-top: 0em;
    font-size: 0.6667em;
    color: #ffffff;                     /* Brilliance White */
    }


/* Header - Bottom Links                                        */
/* ------------------------------------------------------------ */

#header_bottomlinks_hold
    {
    clear: both;
    background-color: #e98300;          /* Solar Orange */
    }

#header_bottomlinks,
#header_bottomlinks_search_only
    {
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    line-height: 1.0em;
    text-align: center;
    }

#header_bottomlinks p,
#header_bottomlinks_search_only p
    {
    margin-top: 0em;
    padding: 0.45em 0.5em 0.25em 0.5em;
    text-align: center;
    color: #00652a;                     /* "150%" of Eco Green */
    background-color: #008542;          /* Eco Green */
    }

#header_bottomlinks a,
#header_bottomlinks_search_only a
    {
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    }

#header_bottomlinks
    {
    width: 10.0em;
    }

#header_bottomlinks p
    {
    width: 9.4em;
    }

#header_bottomlinks_search_only
    {
    width: 5.0em;
    }

#header_bottomlinks_search_only p
    {
    width: 4.4em;
    }


/* Header - Hidden Custom Pull-Down Menu                        */
/* ------------------------------------------------------------ */

#header_menu
    {
    width: 100%;
    background-color: #008542;          /* Eco Green */
    }

#header_menu ul
    {
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    list-style-type: none;
    }

#header_menu li
    {
    margin-top: 0em;
    padding: 0.5em 0.5em 0.35em 0.5em;
    line-height: 1.0em;
    text-align: center;
    vertical-align: middle;
    border-color: #00652a;              /* "150%" of Eco Green */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    }

#header_menu li:active,
#header_menu li:hover,
#header_menu li:focus
    {
    background-color: #69be28;          /* Sapling Green */
    }

#header_menu li.selected
    {
    color: #69be28;                     /* Sapling Green */
    background-color: #00652a;          /* "150%" of Eco Green */
    }

#header_menu a,
#header_menu a:link,
#header_menu a:visited
    {
    display: block;
    text-align: center;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    color: #ffffff;                     /* Brilliance White */
    }


/* Main                                                         */
/* ------------------------------------------------------------ */

#main_hold
    {
    clear: both;
    color: #000000;                     /* Black */
    background-color: #ffffff;          /* Brilliance White */
    background-image: url("../img/gradient_white.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#main
    {
    padding: 1.0em 1.0em 2.0em 1.0em;
    }

#sidebar
    {
    padding: 1.0em 0em 0em 0em;
    margin: 1.0em 0em 0em 0em;
    background-image: url("../img/border_horizontal.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#multicolumn_double,
#multicolumn_triple
    {
    margin: 1.0em 0em 0em 0em;
    }

#column_two,
#column_three,
.column_right
    {
    padding: 1.0em 0em 0em 0em;
    margin: 1.0em 0em 0em 0em;
    background-image: url("../img/border_horizontal.png");
    background-repeat: repeat-x;
    background-position: top center;
    }


/* Expanding and Collapsing Sections                            */
/* ------------------------------------------------------------ */

.accordion_one_heading
    {
    margin: 0.5em 0em 0em 0em;
    padding: 0.5em;
    color: #ffffff;                     /* Brilliance White */
    background-color: #8b8178;          /* Warm Gray 8 */
    border-color: #ffffff;              /* Brilliance White */
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    }

.accordion_one_heading_active
    {
    margin: 0em;
    padding: 0em;
    }

.accordion_one_section
    {
    padding: 0.5em;
    }

.accordion_two_hold,
.accordion_two_hold_plus,
.accordion_two_hold_minus,
.accordion_three_hold,
.accordion_three_hold_plus,
.accordion_three_hold_minus
    {
    padding: 0em 0em 1.0em 0em;
    background-repeat: no-repeat;
    background-position: top right;
    border-color: #eae8e4;              /* 50% of Warm Gray 2 */
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    }

.accordion_two_hold,
.accordion_two_hold_plus,
.accordion_two_hold_minus
    {
    margin: 0em 2.0em 0.5em 2.0em;
    }

.accordion_two_hold_plus,
.accordion_three_hold_plus
    {
    background-image: url("../img/icon_accordion_open.png");
    }

.accordion_two_hold_minus,
.accordion_three_hold_minus
    {
    background-image: url("../img/icon_accordion_close.png");
    }

p.accordion_one_heading,
p.accordion_two_heading,
p.accordion_three_heading
    {
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    }

p.accordion_two_heading,
p.accordion_three_heading
    {
    color: #766a62;                     /* Warm Gray 10 */
    }

.accordion_one_hidden,
.accordion_two_hidden,
.accordion_three_hidden
    {
    display: none;
    }

.accordion_one_link_minus,
.accordion_one_link_plus,
.accordion_two_link_minus,
.accordion_two_link_plus,
.accordion_three_link_plus,
.accordion_three_link_minus
    {
    display: block;
    }

.accordion_one_link_minus,
.accordion_one_link_minus:link,
.accordion_one_link_minus:visited,
.accordion_one_link_minus:active,
.accordion_one_link_minus:hover,
.accordion_one_link_minus:focus,
.accordion_one_link_plus,
.accordion_one_link_plus:link,
.accordion_one_link_plus:visited,
.accordion_one_link_plus:active,
.accordion_one_link_plus:hover,
.accordion_one_link_plus:focus
    {
    margin: 0em;
    padding: 0.5em;
    color: #ffffff;                     /* Brilliance White */
    background-color: #8b8178;          /* Warm Gray 8 */
    border-color: #ffffff;              /* Brilliance White */
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    }


/* Tiles                                                        */
/* ------------------------------------------------------------ */

.tile_set
    {
    margin-top: 0.5em;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    width: 9.50em;
    }

.tile
    {
    float: left;
    margin: 0.25em;
    height: 9.00em;
    width: 9.00em;
    }

.tile img.tile_art
    {
    height: 100%;
    width: 100%;
    }

.tile p.tile_text
    {
    display: none;
    }

.tile:active,
.tile:hover,
.tile:focus
    {
    cursor: pointer;
    }

.tile:active img.tile_art,
.tile:hover img.tile_art,
.tile:focus img.tile_art
    {
    display: none;
    }

.tile:active p.tile_text,
.tile:hover p.tile_text,
.tile:focus p.tile_text
    {
    display: block;
    margin: 0.25em;
    }




/* Footer                                                       */
/* ------------------------------------------------------------ */

#footer
    {
    clear: both;
    padding: 1.0em;
    background-image: url("../img/gradient_grey.png");
    background-repeat: repeat-x;
    background-position: top center;
    }

#footer_title
    {
    clear: both;
    margin-top: 1.00em;
    font-size: 1.125em;
    font-family: "ModestoTextLight", "Minion Pro Regular", "Minion Pro", "Minion", "Times New Roman", "Times", serif;
    text-align: center;
    }

#menu
    {
    width: 10.50em;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0em;
    margin-left: auto;
    }

#menu ul
    {
    margin-left: 0em;
    list-style-type: none;
    font-family: "DinProBold", "FF DIN Pro Bold", "Din Pro Bold", "Din Bold", "arial", "helvetica", sans-serif;
    }

#menu li
    {
    float: left;
    margin: 0em;
    padding: 0.6em 0.5em 0em 0em;
    width: 10.0em;
    line-height: 1.0em;
    }

.menu_topic
    {
    display: block;
    padding-bottom: 0.25em;
    border-color: #a59d95;              /* Warm Gray 6  */
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    }

.menu_spacer
    {
    display: block;
    }

#menu li li
    {
    float: none;
    padding-right: 0em;
    width: auto;
    line-height: 1.2em;
    font-size: 0.8em;
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    }

#menu li li li
    {
    font-size: 1.0em;
    }

#menu li li a
    {
    font-family: "DinProRegular", "FF DIN Pro", "Din Pro", "Din", "arial", "helvetica", sans-serif;
    }

#menu a,
#menu a:link,
#menu a:visited
    {
    color: #ffffff;                     /* Brilliance White */
    }





/* Adjustments for Different Sized Screens                      */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* Header                                                       */
/* ------------------------------------------------------------ */

@media screen and (min-width: 26.0em)
    {
    #header_toplinks
        {
        width: 38.5em;
        }

    #header
        {
        width: 25.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 0.8333em;
        }

    #header_title_office
        {
        font-size: 0.9375em;
        }

    #footer_title
        {
        font-size: 1.3125em;
        }
    }

@media screen and (min-width: 31.0em)
    {
    #header_toplinks
        {
        width: 46.0em;
        text-align: right;
        }

    #header
        {
        width: 30.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.0em;
        }

    #header_title_office
        {
        font-size: 1.125em;
        }

    abbr:active .tooltip,
    abbr:hover .tooltip,
    abbr:focus .tooltip
        {
        display: inline;
        position: absolute;
        margin: 1.1875em 0.5em 0.5em -1.9375em;
        width: auto;
        max-width: 20.0em;
        }

    #footer_title
        {
        font-size: 1.5em;
        }
    }

@media screen and (min-width: 36.0em)
    {
    #header_toplinks
        {
        width: 53.75em;
        }

    #header
        {
        width: 35.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.1667em;
        }

    #header_title_office
        {
        font-size: 1.3125em;
        }

    #footer_title
        {
        font-size: 1.6875em;
        }
    }

@media screen and (min-width: 41.0em)
    {
    #header_toplinks
        {
        width: 61.75em;
        }

    #header
        {
        width: 40.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.3333em;
        }

    #header_title_office
        {
        font-size: 1.5em;
        }

    #footer_title
        {
        font-size: 1.875em;
        }
    }

@media screen and (min-width: 46.0em)
    {
    #header_toplinks
        {
        width: 69.25em;
        }

    #header
        {
        width: 45.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.5em;
        }

    #header_title_office
        {
        font-size: 1.6875em;
        }

    #footer_title
        {
        font-size: 2.0625em;
        }
    }

@media screen and (min-width: 51.0em)
    {
    #header_toplinks
        {
        width: 77.00em;
        }

    #header
        {
        width: 50.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.6667em;
        }

    #header_title_office
        {
        font-size: 1.875em;
        }

    #footer_title
        {
        font-size: 2.25em;
        }
    }

@media screen and (min-width: 56.0em)
    {
    #header_toplinks
        {
        width: 84.50em;
        }

    #header
        {
        width: 55.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 1.8333em;
        }

    #header_title_office
        {
        font-size: 2.0625em;
        }

    #footer_title
        {
        font-size: 2.4375em;
        }
    }

@media screen and (min-width: 61.0em)
    {
    #header_toplinks
        {
        width: 92.25em;
        }

    #header
        {
        width: 60.0em;
        }

    #header_title_utd,
    #header_title_dept
        {
        font-size: 2.0em;
        }

    #header_title_office
        {
        font-size: 2.25em;
        }

    #footer_title
        {
        font-size: 2.625em;
        }
    }


/* Main                                                         */
/* ------------------------------------------------------------ */


@media screen and (min-width: 25.0em)
    {
    .caption_box_center,
    .caption_box_left,
    .caption_box_right
        {
        width: 22.0em;
        padding: 0.3em;
        }

    .caption_box_left
        {
        float: left;
        margin: 1.0em 0.6em 0.3em 0em;
        }

    .caption_box_right
        {
        float: right;
        margin: 1.0em 0em 0.3em 0.6em;
        }

    .caption_box_center p,
    .caption_box_left p,
    .caption_box_right p
        {
        margin: 0.3em 0em 0em 0em;
        }
        
    input.submit
        {
        width: auto;
        }

    .tile_set
        {
        width: 19.00em;
        }
    }


@media screen and (min-width: 35.0em)
    {
    .tile_set
        {
        width: 28.50em;
        }

    #column_one .tile_set,
    #column_two .tile_set,
    #column_three .tile_set
        {
        width: 19.00em;
        }
    }

@media screen and (min-width: 45.0em)
    {
    #column_one_and_two
        {
        width: 99%;
        margin-top: 0em;
        margin-right: auto;
        margin-bottom: 0em;
        margin-left: auto;
        }

    #column_one,
    #column_two,
    .column_left,
    .column_right
        {
        width: 48%;
        }

    #column_one,
    #column_two,
    .column_left
        {
        float: left;
        }

    .column_right
        {
        float: right;
        }

    #column_two,
    .column_right
        {
        padding: 0em;
        margin: 0em 0em 0em 1.25em;
        background-image: none;
        }

    #column_one .caption_box_center,
    #column_one .caption_box_left,
    #column_one .caption_box_right,
    #column_two .caption_box_center,
    #column_two .caption_box_left,
    #column_two .caption_box_right,
    #column_three .caption_box_center,
    #column_three .caption_box_left,
    #column_three .caption_box_right
        {
        width: 100%;
        padding: 0.3em 0em 0.3em 0em;
        margin-top: 1.0em;
        margin-right: auto;
        margin-bottom: 0.3em;
        margin-left: auto;
        }

    #column_one .caption_box_center p,
    #column_one .caption_box_left p,
    #column_one .caption_box_right p,
    #column_two .caption_box_center p,
    #column_two .caption_box_left p,
    #column_two .caption_box_right p,
    #column_three .caption_box_center p,
    #column_three .caption_box_left p,
    #column_three .caption_box_right p
        {
        margin: 0.3em 0.3em 0em 0.3em;
        }

    #column_one .column_left,
    #column_two .column_left,
    #column_three .column_left
        {
        float: none;
        width: 100%;
        }

    #column_one .column_right,
    #column_two .column_right,
    #column_three .column_right
        {
        float: none;
        width: 100%;
        padding: 1.0em 0em 0em 0em;
        margin: 1.0em 0em 0em 0em;
        background-image: url("../img/border_horizontal.png");
        background-repeat: repeat-x;
        background-position: top center;
        }

    .section_staff
        {
        float: left;
        width: 30%;
        padding: 0em 1.0em 0em 0em;
        }

    .tile_set
        {
        width: 38.00em;
        }

    #column_one .tile_set,
    #column_two .tile_set,
    #column_three .tile_set
        {
        width: 19.00em;
        }
    }

@media screen and (min-width: 55.0em)
    {
    .tile_set
        {
        width: 47.50em;
        }

    #content .tile_set
        {
        width: 38.00em;
        }

    #column_one .tile_set,
    #column_two .tile_set,
    #column_three .tile_set
        {
        width: 19.00em;
        }
    }

@media screen and (min-width: 65.0em)
    {
    #main
        {
        width: 60.0em;
        margin-top: 0em;
        margin-right: auto;
        margin-bottom: 0em;
        margin-left: auto;
        }

    #content
        {
        float: left;
        width: 40.0em;
        }

    #sidebar
        {
        float: right;
        width: 17.5em;
        padding: 0em 0em 0em 1.0em;
        margin: 0em 0em 0em 0.5em;
        background-image: url("../img/border_vertical.png");
        background-repeat: repeat-y;
        background-position: center left;
        }

    #column_one_and_two
        {
        float: left;
        width: 40.0em;
        margin: 0em;
        }


    #column_one,
    #column_two,
    #column_three
        {
        float: left;
        width: 19.0em;
        }

    #column_two
        {
        margin: 0em 0em 0em 1.50em;
        }

    #column_three
        {
        padding: 0em;
        margin: 0em 0em 0em 1.0em;
        background-image: none;
        }
    }


/* Footer Menu                                                  */
/* ------------------------------------------------------------ */

@media screen and (min-width: 23.0em)
    {
    #menu
        {
        width: 21.0625em;
        }
    }

@media screen and (min-width: 34.0em)
    {
    #menu
        {
        width: 31.50em;
        }
    }

@media screen and (min-width: 45.0em)
    {
    #menu
        {
        width: 42.0625em;
        }
    }

@media screen and (min-width: 55.0em)
    {
    #menu
        {
        width: 52.5625em;
        }
    }

@media screen and (min-width: 66.0em)
    {
    #menu
        {
        width: 63.0625em;
        }
    }

@media screen and (min-width: 76.0em)
    {
    #menu
        {
        width: 73.5em;
        }
    }

@media screen and (min-width: 87.0em)
    {
    #menu
        {
        width: 84.0625em;
        }
    }

@media screen and (min-width: 97.0em)
    {
    #menu
        {
        width: 94.5625em;
        }
    }

@media screen and (min-width: 107.0em)
    {
    #menu
        {
        width: 105.0em;
        }
    }

@media screen and (min-width: 118.0em)
    {
    #menu
        {
        width: 115.5625em;
        }
    }

@media screen and (min-width: 128.0em)
    {
    #menu
        {
        width: 126.00em;
        }
    }

@media screen and (min-width: 139.0em)
    {
    #menu
        {
        width: 136.5em;
        }
    }

@media screen and (min-width: 149.0em)
    {
    #menu
        {
        width: 147.0em;
        }
    }
/*
@media screen and (min-width: 159.0em)
    {
    #menu
        {
        width: 157.5em;
        }
    }
*/
